<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wolf Pack</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <% if (errors) { %>
            <% for (var i in errors) { %>
        <div class="alert alert-danger mt-15px">
            <%= errors[i] %>
        </div>
            <% } %>
        <% } %>
        <div class="flex-align mt-15px">
            <h1>Edit <%= wolf.name %></h1>
            <a href="/" class="btn btn-default mt-15px">Go Back</a>
        </div>
        <form action="/wolves/<%= wolf._id %>" method="POST">
            <input type="text" name="name" placeholder="Name" value="<%= wolf.name %>" class="form-control mt-15px">
            <textarea name="description" placeholder="Description (optional)" rows="5" class="form-control mt-15px"><%= wolf.description %></textarea>
            <input type="submit" value="Edit" class="btn btn-primary mt-15px">
        </form>
    </div>
</body>
</html>
